<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NgProject</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/app/restaurants" routerLinkActive="active">Restaurants</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="loggedUser"><a routerLink="/app/profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a routerLink="/app/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
