<div *ngIf="restaurant" class="col-sm-12 col-md-7 jumbotron pull-right" style="background-color: rgba(60,50,155,0.1)">
  <div class="page-header">
    <p style="text-align: center; font-size: 300%">{{restaurant.name | nameTransform}}</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center text">Working hours: {{restaurant.openTime.substr(0, 5)}} - {{restaurant.closeTime.substr(0,
        5)}}</p>
    </div>
  </div>
  <booking-creator *ngIf="loggedUser" [restaurantName]="restaurant.name"></booking-creator>
  <restaurant-menu [menu]="restaurant.menu"></restaurant-menu>
</div>

