<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 jumbotron" style="background-color: rgba(60,50,155,0.1)">
      <div class="row">
        <div class="page-header col-md-6">
          <p style="text-align: center; font-size: 300%">Profile </p>
        </div>
        <button class="pull-right ui-button-danger" (click)="showDialog()" pButton icon="fa-times"
                label="Delete"></button>
        <div class="page-header col-md-6">
          <p-dialog header="Warning" [(visible)]="display" modal="modal" width="300" responsive="true">
            <p>Do you really want to delete yourself?</p>
            <p-footer>
              <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
                <button type="button" class="ui-button-danger" pButton icon="fa-check" (click)="deleteSelf()"
                        label="Yes"></button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
      </div>
      <div *ngIf="loggedUser">
        <p class="text text-primary">Status: {{loggedUser.roles.indexOf('ROLE_ADMIN')!=-1?'Admin':'User'}}</p>
        <p class="text">Login: {{loggedUser.name}}</p>
        <p class="text">Email: {{loggedUser.email}}</p>
      </div>
      <div>{{errorMessage}}</div>
      <div class="row">
        <a class="btn btn-sm btn-info pull-right" [routerLink]="['bookings']" style="color: lavender">Bookings <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
